.main {
  width: 25rem;
  margin: 2rem auto;
}
.Input {
  margin-top: 20px;
}
.title {
  text-align: center;
  font-size: 1.8rem;
  color: palevioletred;
  padding-left: 1rem;
  padding-right: 1rem;
}
